
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gallery {
  display: grid;
  gap: 1.5rem;
  margin-top: 1.5rem;
  padding-bottom: 47px;
}

.Galleria-div {
  columns: 4;
  gap: 40px;
  padding: 40px;
}

.Gallery-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.Gallery-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 2s ease-in-out;
  margin-bottom: 40px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
}

.Gallery-text {
  position: absolute;
  color: white;
  bottom: 0;
  width: 15.375rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  z-index: 6;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  bottom: 40px;
}

/* Headings and Descriptions */
.galleryItem h2,
.Gallery-text h2 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-bottom: 0.4375rem;
  font-family: Libre Baskerville, serif;
  font-weight: 700;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

  .Gallery-text p {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1rem;
  mix-blend-mode: normal;
  opacity: 0.75;
  color: #e5e5e5;
  font-family: Libre Baskerville, serif;
  text-align: left;
  margin-top: 10px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
